name: Deploy Dracanus Infrastructure

on:
  push:
    branches: [ main ]
  workflow_dispatch:

permissions:
  id-token: write
  contents: read

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: arn:aws:iam::997784788462:role/GitHubActionsDracanus
          aws-region: us-east-2

      - name: Terraform Init (dev)
        working-directory: infra/envs/dev
        run: terraform init

      - name: Terraform Apply (dev)
        if: github.ref == 'refs/heads/main'
        working-directory: infra/envs/dev
        run: terraform apply -auto-approve

